name: CI

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Fetch all history and metadata
        run: |
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install wpiformat==2025.36
      - run: wpiformat

      - name: Verify wpiformat made no changes
        run: git --no-pager diff --exit-code HEAD

  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows x86_64
            os: windows-2022
            cmake-args:
          - name: Linux x86_64
            os: ubuntu-24.04
            cmake-args:
          - name: Linux aarch64
            os: ubuntu-24.04-arm
            cmake-args:
          - name: macOS universal
            os: macOS-14
            cmake-args: -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - run: cmake -B build -S . ${{ matrix.cmake-args }}
      - run: cmake --build build
